
@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap');


body {
    background-image: linear-gradient(yellow 30%,#00000077 70%);
    
    color: #bb1414;
    font-family: 'Fascinate Inline';
    text-align: center;
    padding-bottom: 800px;
    font-size: 50px;
    
}


h1 span{
    color: #0f0f96;
}

#dias_restantes{
    color: #0f0f96;;
    font-size: 50px;
}
